.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.bg-skyblue {
  background-color: lightskyblue;
}

.bg-white {
  background-color: white;
}

.stagger-visualizer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 17rem;
  height: 17rem;

}

.stagger-visualizer div {
  /*position: absolute;*/
  width: 1rem;
  height: 1rem;
  border: 1px solid #FFF;
  background-color: #FFF;

}

.hidden {
  display: none;
}

.center {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

#load {
  width:100%;
  text-align:center;
}
